<div class="header">
    <div class="navToggleImg"><button><img src="img/navToggle.png"></button></div>
    <div><img src="img/logo.png"></div>
    <div class="userImg"><button><img src="img/user.png"></button></div>
</div>